extends layout

block content

    h1 Genre: #{genre.name}

    div(style='margin-left:20px;margin-top:20px')

        h4 Movies

        dl
            each movie in genre_movies
                dt
                    a(href=movie.url) #{movie.title}
                dd #{movie.summary}

            else
                p This genre has no movies
        a(href=genre.url + '/delete') Delete genre
        p
        a(href=genre.url + '/update') Update genre
